

.mainbox{

    width: 1536px;
    height: 1200px;
    margin: 0 auto;
}

.menu{

    height: 130px;
    text-align: right;
}

.menu>ul>li{
    display:inline;
    padding: 15px;
    position: relative;
    top: 50px;
    font-family: Tahoma, serif;
    font-size: 23px;
}

.leftside{

    height: 1070px;
    width: 512px;
    float: left;
}


.main{

    width: 512px;
    height: 1070px;
    float: left;
}

.mainportrait{
    width: 720px;
    height: 1070px;
    float: left;
}

.leftsideportrait{

    height: 1200px;
    width: 408px;
    float: left;
}

.rightsideportrait{

    text-align: right;
    height: 1200px;
    width: 408px;
    float: left;
}

.mainportrait>a>img{
    padding-top: 10px;
    width: 720px;
    height: 1000px;
}

.rightside{

    text-align: right;
    height: 1200px;
    width: 512px;
    float: left;
}

.logo{
    max-width: 160px;
    display: inline;
    position: relative;
    top: 25px;
    float: left;
    padding-left: 10px;
}

.leftside>a>img{

    max-width: 485px;
    display: block;
    height: 800px;
    padding-left: 25px;

}

.main>a>img{

    max-width: 485px;
    display: block;
    height: 800px;
    padding-left: 15px;

}

.rightside>a>img{

    max-width: 485px;
    display: block;
    height: 800px;
    padding-left: 5px;

}

footer{
    text-align: center;
}

footer>h2{
    text-align: center;
}

.startscreen{
    background-image: url("images/start.png");
    vertical-align: center;
    position: center;
    text-align: center;
    margin: 0 auto;
    width: 1536px;
    height: 765px;
}

.startscreen>a{
    padding-top: 300px;
}

.contact{
    resize: vertical;
    margin: 200px auto;
}

h1{
    text-align: center;
}

.startlogo{
    padding-top: 250px;
    max-width: 400px;
}

.contactmain{

    text-align: center;
    width: 512px;
    height: 1200px;
    float: left;
}

.contactmain>img{
    padding-top: 150px;
    max-width: 300px;
}

.contactmain>h1{
    font-size: 25px;
}

#email{
    width: 300px;
}

#name{
    width: 300px;
}

.mainabout>h1{
    font-size: 30px;
}

.mainabout>p{
    line-height: 19px;
}

.mainabout{
    width: 512px;
    height: 1070px;
    float: left;
    padding-top: 70px;
}



