/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

.mainbox{
    background-color: #cccccc;
    width: 1536px;
    height: 1200px;
    margin: 0px auto;
}

.menu{

    height: 80px;
    text-align: right;
}

.menu>ul>li{
    display:inline;
    padding: 15px;
    position: relative;
    top: 32px;
    font-family: Tahoma, serif;
    font-size: 15px;
}

.leftside{

    width: 512px;
    float: left;
}


.main{

    width: 512px;
    float: left;
}

.rightside{

    width: 512px;
    float: left;
}

.logo{
    max-width: 160px;
    display: inline;
    position: relative;
    top: 5px;
    float: left;
    padding-left: 10px;
}

.leftside>a>img{
    max-width: 485px;
    display: block;
    height: 800px;
    padding-left: 25px;
    padding-bottom: 50px;
}

.main>a>img{
    max-width: 485px;
    display: block;
    height: 800px;
    padding-left: 15px;
    padding-bottom: 50px;
}

.rightside>a>img{
    max-width: 485px;
    display: block;
    height: 800px;
    padding-left: 5px;
    padding-bottom: 50px;
}

.footer{
    text-align: center;
}

.startscreen{
    margin: 0px auto;
    background-color: blue;
    width: 1536px;
    height: 1000px;
}